.HomeElement {
	position: relative;
	text-align: center;
	color:white;
	display: block;
	margin: 5px;
}

.bottom-centered {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: black;
	padding: 5px;
	opacity: 0.9;
	font-size: 25px;
}

