#personCard {
  width: 250px;
  height: 500px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center
}

h6, h5 {
  color:black
}

.card {
  border: none
}

.card-container {
  margin-top: 30px
}

h2 {
  margin-top: 20px;
  padding-left: 10px;
}

p.card-text {
  margin-bottom: .25rem;
}

.btn-primary {
  background-color: maroon;
  margin-top: 15px;
  border: none;
}

.btn-primary:hover {
  background-color: gold
}

/* ----------------------------Media Queries--------------- */
@media only screen and (max-width: 668px) {
 h5 {
    font-size: 16px
  }
  h6, p {
    font-size: 14px
  }

  #personCard {
    width: 250px;
    height: 380px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px
  }
  .card-body {
    padding-bottom: 0;
  }
}